#wrapper-contact {
    @include flexCenter();

    #contact-table {
    
        tr {
        
        }

        th {
            padding: 1em;
            color: red;
            text-align: left;
        }
    }

    .btn-submit {
        text-align: center;
    }
}