.navbar {
    width: 100%;
    background-color: $clr-primary;
    margin: 0;

    ul {
        @include flexCenter();
        list-style: none;
        margin: 0;
        padding: 0;
        height: 3em;

        li {
            padding-right: 1.5em;
            font-weight: bold;
            margin: 0;

            &:first-child {
                margin: auto;
                color: $clr-white;
                margin-left: 2em;
            }
        }

        a {
            text-decoration: none;
            color: $clr-white;

            &:hover {
                border-bottom: 0.2em solid $clr-secondary;
            }
        }
        
    }

    #logo-text {
        color: $clr-white;
    }

    #logo_slash {
        color: $clr-secondary;
    }
}

