#wrapper-skills {
    align-items: center;
    justify-content: center;
    text-align: center;

    .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1.4em;
        padding: 0;
    }
    
    img {
        height: 100px;
        width: 100px;
        place-self: center;
    }
}